<div class="container">
  <div class="user-panel">

    <!-- Cabecera -->
    <header class="header-row">
      <h1 class="flight-title">Gestión</h1>
      <p class="user-info">Administración de usuarios y oficios</p>
    </header>

    <!-- Usuarios -->
    <section class="section-card">
      <h2 class="section-title">👤 Usuarios</h2>
      <div class="button-group">
        <button class="nav-button" (click)="crearUsuario()">Crear Usuario</button>
        <button class="nav-button" (click)="editarUsuario()">Editar Usuario</button>
      </div>
    </section>

    <!-- Oficios -->
    <section class="section-card">
      <h2 class="section-title">💼 Oficios</h2>
      <div class="button-group">
        <button class="nav-button" (click)="crearOficio()">Crear Oficio</button>
        <button class="nav-button" (click)="editarOficio()">Editar Oficio</button>
      </div>
    </section>

    <!-- Medallas -->
    <section class="section-card">
      <h2 class="section-title">🏆 Medallas</h2>
      <div class="button-group">
        <button class="nav-button" (click)="goToMedallas()">Control de Medallas</button>
         <button class="nav-button" (click)="goToEditMedallas()">Añadir/Editar Medallas</button>
      </div>
    </section>

    <!-- Itinerarios -->
    <section class="section-card">
      <h2 class="section-title">🗺️ Itinerarios</h2>
      <div class="button-group">
        <button class="nav-button" (click)="crearItinerario()">Crear Itinerario</button>
      </div>
    </section>

    <!-- Aviones -->
    <section class="section-card">
      <h2 class="section-title">✈️ Aviones</h2>
      <div class="button-group">
        <button class="nav-button" (click)="goToPlanes()">Control de Aviones</button>
      </div>
    </section>

    <section class="section-card">
      <h2 class="section-title">🧭 Misiones</h2>
      <div class="button-group">
        <button class="nav-button" (click)="goToMisiones()">Control de Misiones</button>
      </div>
    </section>

    <div class="button-group back-group">
      <button class="nav-button back-button" (click)="goBack()">Volver</button>
    </div>

  </div>
</div>
