<div class="table-container">
  <h1 class="form-title">
    LISTA DE MISIONES
    <button class="add-button" (click)="newMission()" aria-label="Crear misión">＋</button>
  </h1>

  <table class="plane-table">
    <thead>
      <tr><th>ID</th><th>Nombre</th><th>Acciones</th></tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of misiones">
        <td>{{ m.id }}</td>
        <td>{{ m.nombre }}</td>
        <td class="actions-cell">
          <button class="nav-button" (click)="editMission(m)">✏️</button>
          <button class="nav-button" (click)="deleteMission(m.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<form  #formSection
       *ngIf="showForm"
       [formGroup]="missionForm"
       (ngSubmit)="onSubmit()">

  <h1 class="form-title">
    {{ isEdit ? 'Editar Misión' : 'Crear Misión' }}
  </h1>

  <div class="field">
    <label>Nombre</label>
    <input formControlName="nombre" type="text" />
  </div>

  <div class="actions">
    <button type="submit" [disabled]="missionForm.invalid">
      {{ isEdit ? 'Guardar cambios' : 'Crear misión' }}
    </button>

    <button type="button"
            class="cancel-button"
            (click)="resetForm()">Cancelar</button>
  </div>
</form>

<button class="back-button" (click)="goBack()">← Volver</button>
