/* Fondo y contenedor */
.container {
  background-color: #121212;  /* Fondo oscuro */
  padding: 20px;
  min-height: 100vh;
}

.user-panel {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  background-color: #1d72b8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.nav-button:hover {
  background-color: #156ba3;
}

.flight-title {
  font-size: 24px;
  font-weight: bold;
}

.flight-details-card {
  background-color: #2a2a2a;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}

.flight-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-item {
  flex: 1;
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-item strong {
  font-weight: bold;
  color: #1d72b8;
}

.itinerary-info {
  margin-top: 30px;
}

.location-card {
  background-color: #2a2a2a;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.location-card strong {
  color: #fff;
  font-size: 18px;
}

.location-card p {
  color: #ddd;
  font-size: 14px;
}

.map-container {
  margin-top: 30px;
  height: 40rem;  
  border-radius: 10px;
  overflow: hidden;
}

.map {
  height: 100%;
  width: 100%;
}
