<div class="container">
  <div class="user-panel">
    <div class="header-section">
      <h1 class="form-title">Historial de Vuelos</h1>
      <button class="back-button" (click)="goBack()">Volver</button>
    </div>

    <div class="recent-flights">
      <table class="flight-table">
        <thead>
          <tr>
            <th>Itinerario</th>
            <th>Fecha Salida</th>
            <th>Salida</th>
            <th>Fecha Llegada</th>
            <th>Llegada</th>
            <th>Avión</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vuelo of historialVuelos">
            <td data-label="Itinerario">
              <a class="link-itinerario" (click)="verVuelo(vuelo.id)">
                {{ vuelo.itinerarioDTO?.nombre }}
              </a>
            </td>
            <td data-label="Fecha Salida">
              <a class="link-itinerario" (click)="verVuelo(vuelo.id)">
                {{ vuelo.fecha_salida | date : 'dd/MM/yyyy' }}
              </a>
            </td>
            <td data-label="Hora Salida">
              <a class="link-itinerario" (click)="verVuelo(vuelo.id)">
                {{ vuelo.hora_salida }}
              </a>
            </td>
            <td data-label="Fecha Llegada">
              <a class="link-itinerario" (click)="verVuelo(vuelo.id)">
                {{ vuelo.fecha_llegada | date : 'dd/MM/yyyy' }}
              </a>
            </td>
            <td data-label="Hora Llegada">
              <a class="link-itinerario" (click)="verVuelo(vuelo.id)">
                {{ vuelo.hora_llegada }}
              </a>
            </td>
            <td data-label="Avion">
              <a class="link-itinerario" (click)="verVuelo(vuelo.id)">
                {{ vuelo.avionDTO?.nombre }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>