<div class="table-container">
  <h1 class="form-title">✈️ Lista de Aviones</h1>
  <table class="plane-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Combustible Máx.</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of planes">
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.max_combustible }}</td>
        <td class="actions-cell">
          <button class="nav-button" (click)="editPlane(p)">✏️ Editar</button>
          <button class="nav-button" (click)="deletePlane(p.id)">🗑️ Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<form [formGroup]="planeForm" (ngSubmit)="onSubmit()">
  <h1 class="form-title">
    {{ isEdit ? '✈️ Editar Avión' : '➕ Crear Avión' }}
  </h1>

  <div class="field">
    <label>Nombre</label>
    <input formControlName="nombre" type="text" />
  </div>


  <div class="field">
  <label>Combustible Máx.</label>
  <input
    formControlName="maxCombustible"
    type="number"
    min="0"
    step="0.01"
  />
</div>


  <div class="actions">
    <button type="submit" [disabled]="planeForm.invalid">
      {{ isEdit ? '💾 Guardar cambios' : '➕ Crear avión' }}
    </button>
    <button
      *ngIf="isEdit"
      type="button"
      (click)="resetForm()"
      class="cancel-button"
    >
      ✖️ Cancelar
    </button>
  </div>
</form>
