<div class="table-container">
  <h1 class="form-title">LISTA DE AVIONES
    <button class="add-button" (click)="newPlane()" aria-label="Crear avión">＋</button>
  </h1>
  


  <table class="plane-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Combustible&nbsp;Máx.</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of planes">
        <td data-label="ID">{{ p.id }}</td>
        <td data-label="Nombre">{{ p.nombre }}</td>
        <td data-label="Combustible Máx.">{{ p.max_combustible }}</td>
        <td data-label="Acciones" class="actions-cell">
          <button class="nav-button" (click)="editPlane(p)">✏️</button>
          <button class="nav-button" (click)="deletePlane(p.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<form  #formSection                                  
       *ngIf="showForm"                                  
       [formGroup]="planeForm"
       (ngSubmit)="onSubmit()">

  <h1 class="form-title">
    {{ isEdit ? 'EDITAR AVIÓN' : 'CREAR AVIÓN' }}
  </h1>

  <div class="field">
    <label>Nombre</label>
    <input formControlName="nombre" type="text" />
  </div>

  <div class="field">
    <label>Combustible&nbsp;Máx.</label>
    <input formControlName="maxCombustible" type="number" min="0" step="0.01" />
  </div>

  <div class="actions">
    <button type="submit" [disabled]="planeForm.invalid">
      {{ isEdit ? 'Guardar cambios' : 'Crear avión' }}
    </button>

    <button type="button"
            class="cancel-button"
            (click)="resetForm()">Cancelar</button>
  </div>
</form>

<button class="back-button" (click)="goBack()">← Volver</button>
