<div class="container" *ngIf="tripulante; else noUser">
  <div class="user-panel">
    <!-- Perfil del tripulante -->
    <div class="info">
      <div class="user-img"></div>

      <p class="form-title">
        {{ tripulante.nombre }} {{ tripulante.apellidos }}
      </p>

      <p class="user-info">
        RANGO: {{ tripulante.rangoDTO.nombre || 'No especificado' }}
      </p>

      <p class="user-info">
        GRUPO SANGUÍNEO: {{ tripulante.grupoSanguineoDTO.tipo || 'No especificado' }}
      </p>

      <p class="user-info">
        ANTIGUEDAD: {{ tripulante.antiguedad || 'No especificado' }}
      </p>
      
      <p class="user-info">
        HORAS DE VUELO: {{ tripulante.horas_totales || 'No especificado' }}
      </p>
    </div>

    <!-- Botones de navegación -->
    <div class="nav-buttons">
      <button class="nav-button" *ngIf="tienePermisos" (click)="verGestion()">GESTIÓN</button>
      <button class="nav-button" (click)="verVuelos()">VUELOS</button>   
      <button class="nav-button" (click)="irALogrosMedallas()">MEDALLAS/LOGROS</button>
      <button class="nav-button" (click)="irALogrosHistorial()">HISTORIAL DE VUELOS</button>
      <button class="nav-button" (click)="irADestinos()">TUS DESTINOS</button>
    </div>
  </div>
</div>

<!-- Si no hay tripulante logueado -->
<ng-template #noUser>
  <p class="no-user-message">No hay tripulante logueado.</p>
</ng-template>