<div class="table-container"> 
  <h1 class="form-title">LISTA DE MEDALLAS
    <button class="add-button" (click)="newMedalla()" aria-label="Crear medalla">＋</button>
  </h1>
   
<div class="table-wrapper">
  <table class="plane-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of medallas">
        <td>{{ m.id }}</td>
        <td>{{ m.nombre }}</td>
        <td>{{ m.descripcion }}</td>
        <td class="actions-cell">
          <button class="nav-button" (click)="editMedalla(m)">✏️</button>
          <button class="nav-button" (click)="deleteMedalla(m.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


<form  #formSection
       *ngIf="showForm"                      
       [formGroup]="medallaForm"
       (ngSubmit)="onSubmit()">

  <h1 class="form-title">
    {{ isEdit ? 'Editar Medalla' : 'Crear Medalla' }}
  </h1>

  <div class="field">
    <label>Nombre</label>
    <input formControlName="nombre" type="text" />
  </div>

  <div class="field">
    <label>Descripción</label>
    <textarea formControlName="descripcion" rows="3"></textarea>
  </div>

  <div class="actions">
    <button type="submit" [disabled]="medallaForm.invalid">
      {{ isEdit ? 'Guardar cambios' : 'Crear medalla' }}
    </button>

    <button *ngIf="isEdit"
            type="button"
            (click)="resetForm()"
            class="cancel-button">
      Cancelar
    </button>
  </div>
</form>

<button class="back-button" (click)="goBack()">← Volver</button>
