<div class="container-grid">

  <div class="recent-flights">

    <div class="header-row">
      <h2>Vuelos Recientes</h2>
      <button 
        *ngIf="mostrarBotonRegistro" 
        class="nav-button" 
        (click)="irARegistrarVuelo()">
        Registrar nuevo vuelo
      </button>
    </div>

    <table class="flight-table">
      <thead>
        <tr>
          <th>Itinerario</th>
          <th>Fecha</th>
          <th>Salida</th>
          <th>Llegada</th>
          <th>Avión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vuelo of vuelosRecientes">
          <td>{{ vuelo.itinerarioDTO?.nombre }}</td>
          <td>{{ vuelo.fecha }}</td>
          <td>{{ vuelo.hora_salida }}</td>
          <td>{{ vuelo.hora_llegada }}</td>
          <td>{{ vuelo.avionDTO?.nombre }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
