<div class="container">
    <div class="user-panel">
  
      <div class="info">
        <p class="main-title">GESTIÓN</p>
        <p class="user-info">Administración de usuarios y oficios</p>
      </div>
  
      <div class="section">
        <p class="section-title">Usuarios</p>
        <button class="nav-button" (click)="crearUsuario()">Crear Usuario</button>
        <button class="nav-button" (click)="editarUsuario()">Editar Usuario</button>
      </div>
  
      <div class="section">
        <p class="section-title">Oficios</p>
        <button class="nav-button" (click)="crearOficio()">Crear Oficio</button>
        <button class="nav-button" (click)="editarOficio()">Editar Oficio</button>
      </div>
  
      <div class="section">
        <button class="nav-button" (click)="goBack()">Volver</button>
      </div>
    </div>
  </div>
  