<div class="container" *ngIf="tripulante">
    <div class="user-panel">
      <!-- Perfil del tripulantes -->
      <div class="info">
        <div class="user-img"></div>

        <p class="user-name">
          USUARIO
          {{ tripulante?.nombre }} {{ tripulante?.apellidos }} 
        </p>
  
        <p class="user-info">
          Rango:
          {{ tripulante?.rango?.nombre || 'No especificado' }}
        </p>
        <p class="user-info">
          Grupo Sanguíneo:
          {{ tripulante?.grupoSanguineo?.tipo}}
        </p>
        <p class="user-info">
          Antigüedad:
          {{ tripulante?.antiguedad || 'No especificado'}}
        </p>
        <p class="user-info">
          Horas totales de vuelo:
          {{ tripulante?.horas_totales || 'No especificado'}}
        </p>
      </div>
  
      <div class="nav-buttons">
        <button class="nav-button" routerLink="/logros-medallas">LOGROS / MEDALLAS</button>
        <button class="nav-button">HISTORIAL DE VUELOS</button>
        <button class="nav-button">TUS DESTINOS</button>
      </div>
    </div>
  </div>
  
  <!-- Si tripulantes == null, muestras esto -->
  <ng-template #noUser>
    <p>No hay tripulante logueado.</p>
  </ng-template>
  